svg .diagram-node {
  fill: #f4f4f5;
  stroke: #52525b;
}

svg .diagram-text {
  fill: #09090b;
}

svg .diagram-subtext {
  fill: #3f3f46;
}

svg .diagram-zone {
  fill: none;
  stroke: #a1a1aa;
}

svg .diagram-label {
  fill: #52525b;
}

svg .diagram-arrow {
  stroke: #52525b;
}

svg .diagram-marker {
  fill: #52525b;
}

.dark svg .diagram-node {
  fill: #09090b;
  stroke: #52525b;
}

.dark svg .diagram-text {
  fill: #fafafa;
}

.dark svg .diagram-subtext {
  fill: #a1a1aa;
}

.dark svg .diagram-zone {
  fill: none;
  stroke: #3f3f46;
}

.dark svg .diagram-label {
  fill: #71717a;
}

.dark svg .diagram-arrow {
  stroke: #a1a1aa;
}

.dark svg .diagram-marker {
  fill: #a1a1aa;
}

svg {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
