# secrets
secrets/

# ansible
.ansible

# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# environment variables
.env
.env.*

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

.tofu/
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json
tfplan
plan.json

# turso
local.db*

#.pnpm
.pnpm-store/
