@import "tailwindcss";

@theme {
  --font-display: "Gabriela", "serif";
  --font-sans: "Montserrat Variable", sans-serif;
}

mark {
  color: var(--color-white);
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

mark.blue {
  background: transparent linear-gradient(
    to right,
    var(--color-blue-950),
    var(--color-blue-700),
    var(--color-blue-950)
  );
}

mark.amber {
  background: transparent linear-gradient(
    to right,
    var(--color-amber-950),
    var(--color-amber-700),
    var(--color-amber-950)
  );
}

mark.orange {
  background: transparent linear-gradient(
    to right,
    var(--color-orange-950),
    var(--color-orange-700),
    var(--color-orange-950)
  );
}

mark.red {
  background: transparent linear-gradient(
    to right,
    var(--color-red-950),
    var(--color-red-700),
    var(--color-red-950)
  );
}

mark.rose {
  background: transparent linear-gradient(
    to right,
    var(--color-rose-950),
    var(--color-rose-700),
    var(--color-rose-950)
  );
}

mark.pink {
  background: transparent linear-gradient(
    to right,
    var(--color-pink-950),
    var(--color-pink-700),
    var(--color-pink-950)
  );
}

mark.lime {
  background: transparent linear-gradient(
    to right,
    var(--color-lime-950),
    var(--color-lime-700),
    var(--color-lime-950)
  );
}

mark.green {
  background: transparent linear-gradient(
    to right,
    var(--color-green-950),
    var(--color-green-700),
    var(--color-green-950)
  );
}
